body {
    font-family: 'Segoe UI', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle, #001e4a 0%, #00122c 100%);
}

.contact-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    width: 700px;
    border-top: 8px solid #d64400; 
}

h2 {
    text-align: center;
    color: #00122c;
    margin-bottom: 20px;
    font-weight: 800;
    letter-spacing: -0.5px;
}

/*tabla*/
.contact-table {
    width: 100%;
    border-collapse: collapse;
}

.contact-table th {
    background-color: #fcfcfc;
    color: #00122c;
    text-align: left;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #eee;
}

.contact-table td {
    padding: 18px 15px;
    border-bottom: 1px solid #f0f0f0;
    color: #333;   
}

/* colores prioridad*/
.prio-1 {
    border-left: 6px solid #27ae60;
    background-color: #f1fcf4;
}
.prio-1:hover {
    background-color: #e4f9ea;
}

.prio-2 {
    border-left: 6px solid #ff570a;
    background-color: #fffaf8;
}
.prio-2:hover {
    background-color: #fff3ed;
}

.prio-3 {
    border-left: 6px solid #ffe44c;
    background-color: #fff5f4;
}
.prio-3:hover {
    background-color: #ffeae8;
}

.btn-add {
    display: block;
    text-align: center;
    background: linear-gradient(to right, #d64400, #ff570a);
    color: white;
    padding: 14px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(214, 68, 0, 0.3);
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-add:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(214, 68, 0, 0.4);
}
